@tailwind base;
@tailwind components;
@tailwind utilities;

.quiz-header {
  @apply bg-white border-b;
  height: 56px;
}

.quiz-main {
  @apply bg-gray-50;
  min-height: calc(100vh - 56px);
  max-height: calc(100vh - 56px);
  height: calc(100vh - 56px);
}

.max-h-fixed {
  height: calc(100vh - 56px);
}

.q-list-height {
  height: calc(100vh - 122px);
}

.add-q-btn-lg {
  @apply px-3 py-2 bg-blue-800 hover:bg-blue-700 focus:ring text-white rounded-md;
}

.add-q-btn-sm {
  @apply flex h-8 w-8 justify-center items-center bg-blue-800 hover:bg-blue-700 focus:ring text-white rounded-md;
}

.index-icon {
  @apply px-2 py-1 rounded text-white items-center h-7 shadow-sm flex;
}

/* question style */
.q-label-edit {
  @apply w-full rounded resize-none border focus:border-blue-500 focus:ring-1 focus:ring-blue-500 outline-none focus:bg-slate-50 p-2 text-lg tracking-wide;
}
.q-label-edit::placeholder {
  @apply text-slate-600;
}
.q-description-edit {
  @apply w-full rounded resize-none border focus:border-blue-500 focus:ring-1 focus:ring-blue-500 outline-none focus:bg-slate-50 p-2 tracking-wide;
}
.q-choice-edit input[type="text"] {
  @apply min-w-[200px] max-w-full border-b-2 focus:border-blue-500 focus:bg-slate-50 py-1 px-2 outline-none tracking-wide bg-transparent focus:flex-grow;
}

.q-choice-edit input[type="text"]:focus ~ .choice_s-btn {
  visibility: visible;
}

.choice_s-btn {
  visibility: hidden;
}
.q-choice-edit:hover .choice_s-btn {
  visibility: visible;
}

.add-choice {
  @apply text-blue-500 hover:text-blue-700 underline py-1;
}


.q-solution-edit {
  @apply w-full rounded resize-none border focus:border-blue-500 focus:ring-1 focus:ring-blue-500 outline-none focus:bg-slate-50 p-2 tracking-wide;
}

.btn-with-title:hover .hint {
  @apply inline-block;
}
.hint {
  @apply hidden px-2 py-2 text-xs opacity-90 bg-slate-700 text-white rounded whitespace-nowrap absolute -bottom-9 right-0 z-10 hover:hidden;
}


/* typeform like ui edit block */
.b-index {
  @apply absolute top-0 left-0 font-bold;
}
.b-label-input {
  @apply text-2xl w-full bg-transparent resize-none outline-none text-slate-900;
}
.b-label-input::placeholder {
  @apply text-slate-600;
}
.b-label-input:focus::placeholder {
  @apply text-slate-400;
}
.b-description-input {
  @apply text-base w-full bg-transparent resize-none outline-none text-slate-600;
}
/* .b-description-input::placeholder {
  @apply text-slate-500;
}
.b-description-input:focus::placeholder {
  @apply text-slate-400;
} */

.delete-choice-btn {
  @apply rounded text-white bg-gray-800 hover:bg-red-700 cursor-pointer transition hidden;
  position: absolute;
  top: 50%;
  right: -0.8rem;
  transform: translateY(-50%);
}


.choice:hover .delete-choice-btn{
  display: block;
}

.choice-index {
  @apply border border-gray-800 rounded px-2 font-bold;
}

.choice-input {
  @apply text-base bg-transparent resize-none outline-none text-slate-900;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0;
  scroll-behavior: smooth;
}

.color-picker {
  -webkit-appearance: none;
	border: none;
	width: 28px;
	height: 28px;
  border-radius: 100%;
}

.color-picker::-webkit-color-swatch-wrapper {
	padding: 0;
}
.color-picker::-webkit-color-swatch {
  @apply border-2 border-slate-800;
  border-radius: 100%;
}
.sidebar-right-h-fixed {
  max-height: calc(100vh - 107px);
}